<h1><%= @cocktail.name.capitalize %></h1>
<ul>
  <% @cocktail.ingredients.each do |ingredient| %>
    <li>at : <%= ingredient.name %></li>
  <% end %>
</ul>

<%= link_to "Ajouter une dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to list", cocktails_path %>
